.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__body {
    width: 250px;
    height: 400px;
    overflow: hidden;
    background-color: red; // temp
  }
}